<div class="text-center">
	{% if media_item.header_title %}
		<h2 class="b-section-header__title bg--grey">{{media_item.header_title}}</h2>
	{% endif %}
	<div class="col-md-6 col-md-offset-3">
		{{media_item.content}}
	</div>
</div>
