<div class="l-page-section b-links-block">
	<div class="l-page-section">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="text-center">{{post.title}}</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			{% for link in media_item.links %}
				<div class="col-sm-3">
					<a href="{{link.link}}"><img src="{{link.image.url}}" alt=""></a>
				</div>

				{% if loop.index is divisibleby(4) %}
					</div>
					<div class="row">
				{% endif %}
			{% endfor %}	
		</div>
	</div>
</div>
