<div class="l-archive l-news-block">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="l-archive__row">
					<div class="loading">
						<img src="{{site.theme.link}}/app/img/ui/ajax-loader.gif" alt="">
					</div>
				</div>
				
				<div class="col-md-12 text-right">
					<a href="/news" class="b-button">All news</a>
				</div>
				
				<div class="b-cta-container">
					{% for cta in media_item.call_to_action %}
					    <div class="col-sm-6">
					    	<div class="b-call-to-action" style="background-image: url({{cta.image}});">
					    		<a href="{{cta.link}}" class="b-call-to-action__text"><span>{{cta.title}}</span></a>
					    	</div>
					    </div>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-4">
			<a class="twitter-timeline" data-height="1081" data-theme="dark" href="https://twitter.com/Pedal_Devil">Tweets by Pedal_Devil</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
	</div>
</div>
