footer {
	clear: both;
	.l-page-section {
		padding: 25px 0;

		@include max-screen($screen-xs-max) {
			padding: 15px 0;
		}
	}
}

@include b(l-footer-top){
	@include e(logo){
		padding-right: 35px !important;

		@include max-screen($screen-xs-max) {
			padding: 0 !important;
			margin-top: 5px;
			margin-left: 25%;
		}
	}

	@include e(content){
		p {
			margin-bottom: 0;
			color: $white;

			@include rem((
				font-size: 14px,
				line-height: 26px
			));
		}
	}
}

@include b(l-footer-bottom){
	li, a {
		text-decoration: none;
		list-style-type: none;
		color: $brandGreen;

		@include rem((
			font-size: 12px,
			line-height: 20px
		));
	}

	@include e(nav){
		margin-bottom: 20px;
		@extend %inline-list;

		ul{
			margin: 0;
		}


		li {
			&:after {
				content: "|";
				padding:0 10px;

				@include screen($screen-sm, $screen-tablet) {
					padding:0 5px;
				}
			}

			&:last-child {
				&:after {
					display: none;
				}
			}

			a {
				transition: all .5s ease;

				&:hover {
					color: $white;
					text-decoration: underline;
				}
			}
		}
	}

	@include e(social){
		@extend %inline-list;
		position: relative;
		float: left;
		width: 100%;
		margin-bottom:10px;

		@include max-screen($screen-xs-max) {
			margin-top: 0;
			text-align: center;
		}

		@include screen($screen-sm, $screen-sm) {
			margin-top: 50px;
			text-align: center;
		}

		ul{
			margin: 0;
		}

		li, a {
			text-decoration: none;
			color: $brandGreen;
			font-size: 35px;
		}

		li {
			padding-right: 22px;

			@include screen($screen-sm, $screen-tablet) {
				padding-right: 10px;
			}

			a {
				transition: color .5s ease;
				&:hover {
					color: $white;
				}
			}
		}
	}
}
