<div class="l-search-overlay">
	<form method="get" id="search" class="ab-center" action="{{site.url}}">
		<input type="text" class="searchTerm" name="s" placeholder="Search">

		<span class="js-close-search close">X</span>
	</form>
</div>