@include b(b-secondary-nav){
	position: relative;
	padding-top: 10px;

	@include e(nav){
		position: relative;
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 10px;
		display: inline-block;
		border-bottom: 1px solid #DDDDDD;

		@include m(slider){
			width: 129px;
			height: 1px;
			background: $brandGreen;
			display: block;
			position: absolute;
			bottom: -1px;

			html.touchevents &{
				display: none;
			}
		}

		@include m(link){
			display: inline-block;

			&.current_page_item {
				a {
					color: $brandGreen;
				}
			}

			a {
				padding: 14px 30px;
				font-family: $header-font-family;
				color: $body-font-color;
				text-transform: uppercase;
				text-decoration: none;

				@include rem((
					font-size: 12px,
					line-height: 20px
				));

				&:hover {
					color: $brandGreen;
				}

				&:first-child, &:last-child {
					padding: 14px 30px;
				}
			}
		}
	}
}

@include b(b-secondary-nav-mobile){
	position: relative;
	padding-top: 10px;

	.fancy-select {
		.trigger {
			border: none;
			border-radius: 0;
			border-bottom: 1px solid #ccc;

			&:after {
				right: 20px;
			}
		}
	}
}
