@include b(b-section-header){
	text-align: center;

	//ELEMS
	@include e(title){
		margin: 0;

		@include rem((
			font-size: 48px,
			line-height: 76px
		));

		@include max-screen($screen-xs-max) {
			font-size: 22px;
			line-height: 36px;
		}

		@include m(white) {
			color: $white;
		}
	}

	@include e(content){
		text-align: center;
		display: inline-block;
		padding:0 15px;

		p {
			font-family: $header-font-family;
			margin-bottom: 0;

			@include rem((
				font-size: 22px,
				line-height: 32px
			));
		}

		//MQ's
		@include min-screen($screen-sm) {
			max-width: 60%;
		}

		//MOD's
		@include m(white) {
			color: $white;

			&:after {
				color: $white;
			}
		}
	}
}
