<div class="b-portal" style="background-image:url({{site.theme.link}}/app/img/placeholder/portal__bg.jpg);">
	<div class="b-portal__overlay text-center">
		<img src="{{site.theme.link}}/app/img/placeholder/portal__overlay.png" alt="">
		<div class="b-portal__link">
			<a class="b-button" href="{{job.link}}">View Details</a>
		</div>
	</div>

</div>
