/* Base Styles */

html {
	box-sizing: border-box;
	@include rem-baseline; // Default zoom to 100%

	@media (max-width: 400px) {
		@include rem-baseline(75%);
	}
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: $global-bg-color;
	font-family: $font-family;
	font-weight: $body-font-weight;
	color: $body-font-color;
	position: relative;
	-webkit-font-smoothing: $font-smoothing;
	-moz-osx-font-smoothing: grayscale;
	margin:0;
	font-size: 18px;
	line-height: 28px;

	@include min-screen($screen-sm) {
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
		width: 100%;
		min-width: 0;
	}

	&.stuck{
		padding-top:115px;
	}

	&.disabled {
		overflow: hidden;
	}
}

html, body {
	height: 100%;
	background: $global-bg-color;
}

a {
	color: $body-link-color;
}

a, img {
    border:none;
    outline:none
}

// remove iOS styling
// textarea,
// input[type="text"],
input[type="button"],
input[type="submit"] {
     -webkit-appearance: none;
     border-radius: 0;
}

.hide {
	display: none;
}

.hide.active, .show {
	display: block;
}


.ab-child{
	position:relative;
}


.h-100 {
	height: 100%;
}

// padding
%pad-10{
	padding:10px;
}

%pad-20{
	padding:20px;
}

%pad-30{
	padding:30px;
}

img {
	max-width: 100%;
	height: auto;
}

.valign {
	display: table;
	width: 100%;
}

.valign > div, .valign > article, .valign > section, .valign > figure {
	display: table-cell;
	vertical-align: middle;
}

.media {
	display: flex;
	align-items: flex-start;
}

.media__figure {
	margin-right: 1em;
}

.media__body {
	flex: 1;
}

p{
	margin-top: 0;
}

ul{
	list-style-type:none;
	padding-left: 0;

	li{
		&:first-child{
			padding-left:0;
			margin-left:0;
			a{
				padding-left:0;
				margin-left:0;
			}
		}

		&:last-child{
			padding-right:0;
			margin-right:0;
			a{
				padding-right:0;
				margin-right:0;
			}
		}
	}
}

ol {
    counter-reset: item;
    list-style-type: decimal;
    padding: 0;

    li {
    	margin: 25px 0 25px 25px;
    	position: relative;
    	display: block;

    	&:before {
    		content: counter(item,decimal) '. ';
		    counter-increment: item;
		    display: block;
		    text-align: right;
		    font-family: $header-font-family;
		    font-weight: 600;
		    padding-top: 5px;
		    position: absolute;
		    left: -25px;
		    top: -5px;
    		color: $brandGreen;
    	}
    }
}

.no-bottom{
	margin-bottom:0!important;
}

input[type=text], textarea{
	@include placeholder {
		@include placeholder-style;
	}
}

button {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	border-spacing: 0;
	color: #26589F;
	font-family: inherit;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.42rem;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
}

blockquote {
	p {
		margin-bottom: 0;
	}
}

.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img.alignright {
	float: right;
	margin-left: 20px;
}

img.alignleft {
	float: left;
	margin-right: 20px;
}

img.aligncenter {
	display: block;
	margin: 0 auto;
}

figure.alignright {
	float: right;
	margin: 0;
	margin-left: 20px;

	@include max-screen($screen-xs-max) {
		margin: 0 auto !important;
		float: none;
	}
}

figure.alignleft {
	float: left;
	margin: 0;
	margin-right: 20px;

	@include max-screen($screen-xs-max) {
		margin: 0 auto !important;
		float: none;
	}
}

figure.aligncenter {
	display: block;
	margin: 0 auto;
}
