<div class="b-slide">
{# 	<img src="{{site.theme.link}}/app/img/placeholder/slider.jpg" class="b-slide__bg"/> #}
	<img src="{{slide.background_image}}" class="b-slide__bg"/>

	<div class="b-slide__overlay text-center">
		<div class="b-slide__title htag">
			{# Latest event highlights #}
			{{slide.title}}
		</div>
		<div class="b-slide__desc">
			{# Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo amet, dolor quos saepe sequi, eaque esse temporibus eos impedit enim ipsa tenetur, autem magni veniam laborum, quae provident aperiam voluptates? #}
			{{slide.content}}
		</div>
	</div>

</div>
