<div class="b-text-portal" style="background-image:url({{site.theme.link}}/app/img/placeholder/text-portal__bg.jpg);">
	<div class="b-text-portal__content">
		<div class="b-text-portal__title htag">
			Case Studies
		</div>
		<div class="b-text-portal__desc">
			Danny is and tellus. Nam sodales lacinia velit. Duis ut ultrices risus, id iaculis mauris. Aliquam sed nisi et ipsum mattis varius. Vivamus erat sem, pretium ut dictum in.
		</div>
		<div class="b-text-portal__link">
		<a href="{{site.link}}" class="b-button">Read Danny's Story</a>
		</div>
	</div>

</div>
