@mixin placeholder {
  &::-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

@mixin placeholder-style {
  	font-family: $font-family;
    color: $brandGrey;
    font-size: 18px;
    line-height: 28px;
}

@mixin placeholder-style-search {
  	font-family: $font-family;
  	font-size: 30px;
    line-height: 30px;
}
