@include b(b-two-column-download){
	ul {
		li {
			position: relative;
			left: 15px;
			margin-bottom: 10px;

			&:before {
			    content: "";
			    position: absolute;
			    display: block;
			    width: 5px;
			    height: 5px;
			    border-radius: 100%;
			    left: -15px;
			    background: $brandGreen;
			    top: 11px;
			}
		}
	}

	@include e(download){
		border: 2px solid $brandGreen;
		background-size: cover;
		border-radius: 15px;
		padding: 10px 30px;

		@include max-screen($screen-xs-max) {
			padding: 0 10px;
		}

		@include m(title){
			text-align: center;
			color: $white;
			@include rem((
				font-size: 24px,
				line-height: 34px
			));
		}

		@include m(content){
			color: $white;
			@include rem((
				font-size: 18px,
				line-height: 22px
			));

			h1, h2, h3, h4, h5, h6 {
				margin-bottom: 0;
			}
		}

		@include m(button){
			margin: 30px 0;

			@include rem((
				font-size: 12px,
				line-height: 20px
			));

			@include max-screen($screen-xs-max) {
				a {
					width: 95%;
					font-size: 12px;
					line-height: 20px;
				}
			}
		}
	}
}
