.bg--grey {
	background: $brandGrey;
	border-bottom: 10px solid $brandGreen;
	color: $brandGreen;
	margin-bottom: 20px !important;
}

@include b(l-page-section){
	padding: 15px 0;
	// background-color: inherit;
	position: relative;

	@include m(flush){
		padding:0;
	}

	@include m(pink){
		background-color: $brandGreen;
	}

	@include m(grey){
		background-color: $brandGrey;
	}

	@include m(greydark){
		background-color: $brandGreyDark;
	}

	@include m(black){
		background-color: #1E1E1E;
	}

	@include m(p10){
		padding-top: 10px;
	}

	@include m(section-header){
		padding: 29px 0 20px;
	}

	@include m(callback){
		padding: 20px 0 40px;
		background-size: cover;
		@include max-screen($screen-xs-max) {
			padding: 1px 0 20px;
		}
	}

	&.l-footer{
		padding:30px;
	}
}
