@include b(l-single-event){
	@include e(sidebar){
		background: $brandGrey;
		padding: 30px 30px;
		margin-bottom: 15px;

		h3 {
			font-size: 24px;
			line-height: 34px;
			margin-top: 0;
			margin-bottom: 5px;
		}

		p {
			font-size: 14px;
			line-height: 28px;
		}

		@include m(button){
			width: 75%;
			display: block;
			margin: 0 auto;
		}

		@include m(social){
			margin-bottom: 0;

			li {
				display: inline-block;
				padding: 0 10px;

				a {
					color: $body-font-color;
					text-decoration: none;
					transition: all .5s ease;

					&:hover {
						color: $black;
					}
				}
			}
		}
	}
}

@include b(b-related-events) {
	@include e(event) {
		@include m(container) {
			padding: 20px;
			background: $white;
		}

		@include m(thumb) {
			width: 100%;
			margin-bottom: -8px;
		}

		@include m(title) {
			margin: 0;
			font-size: 24px;
			line-height: 34px;

			a {
				text-decoration: none;
				color: $brandGreen;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		@include m(date) {
			font-size: 12px;
			line-height: 23px;
		}

		@include m(excerpt) {
			font-size: 14px;
			line-height: 28px;
		}

		@include m(link) {
			margin: 0;
			font-size: 12px;
			line-height: 30px;
			text-transform: uppercase;
			font-family: $header-font-family;
			color: $brandGreen;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
