<header class="l-cb-masthead">
	{% block header %}
		<div class="container h-100">
			<div class="row h-100">
				<div class="col-md-3 l-cb-masthead__back text-left">
					<a href="#" class="js-back-button">&#171; Go back</a>
				</div>

				<div class="col-md-6 text-center l-cb-masthead__logo">
					<a class="l-cb-masthead__logo--link" href="/" title="{{site.name}}" rel="home"></a>
				</div>

				<div class="col-md-3 l-cb-masthead__phone text-right">
					<a href="tel:03307772955">0330 777 1955</a>
				</div>
			</div>
		</div>
	{% endblock %}
</header>
