 <div class="l-search-bar">
 	<div class="row">
	 	<div class="col-md-6">

		 	<h2 class="l-search-bar__title">Search for a career</h2>

	 	</div>
	 	<div class="col-md-6">
	 		<div class="l-search-bar__drop b-fancy-select">
				<select name="" id="" data-links="true" data-placeholder-option="true">
					<option value="null" disabled="">Select a Career</option>
					<option value="{{site.link}}/careers/search?filter=bar-manager">Bar Manager</option>
					<option value="{{site.link}}/careers/search?filter=food-service">Food &amp; Service</option>
					<option value="{{site.link}}/careers/search?filter=kitchen">Kitchen</option>
				</select>
	 		</div>
	 	</div>

 	</div>
 </div>
